<%= javascript_pack_tag "dashboard" %>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="row">
    <div class="col-6 fs-1 d-flex justify-content-center align-items-center">
      <i class="<%= @last_workout.sport.get_fontawesome_icon_class %>"></i>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-2 text-center"><i class="fa-solid fa-stopwatch"></i></div>
        <div class="col-10"><%= print_duration(@last_workout.session.get_duration) %></div>
      </div>
      <div class="row">
        <div class="col-2 text-center"><i class="fa-solid fa-ruler-horizontal"></i></div>
        <div class="col-10"><%= @last_workout.session.distance %></div>
      </div>
      <div class="row">
        <div class="col-2 text-center"><i class="fa-solid fa-heart-pulse"></i></div>
        <div class="col-10"><%= @last_workout.session.heart_rate_average %></div>
      </div>
      <div class="row">
        <div class="col-2 text-center"><i class="fa-solid fa-fire-flame-curved"></i></div>
        <div class="col-10"><%= @last_workout.session.calories %></div>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light rounded-3">
      TODO last 7 days
    </div>
  </div>

  <div class="col-md-6">
    <div class="h-100 p-5 bg-light rounded-3">
      TODO current month
    </div>
  </div>
</div>
