<%= javascript_pack_tag "dashboard" %>

<style>
.last-workout .stats-row .stats-icon {
  display: inline-block;
  text-align: center;
  width: 40px;
}
</style>
<div class="p-4 mb-4 bg-light rounded-3 last-workout">
  <div class="row">
    <div class="col-12">
      <h2>Last workout</h2>
    </div>
  </div>
  <div class="row stats-row">
    <div class="col-12">
      <div class="stats-icon"><i class="<%= @last_workout.sport.get_fontawesome_icon_class %>"></i></div>
      <%= @last_workout.sport.get_name 'en' %>
    </div>
  </div>
  <div class="row stats-row">
    <div class="col-12">
      <div class="stats-icon"><i class="fa-solid fa-calendar"></i></div>
      <%= @last_workout.date.to_date %>
    </div>
  </div>
  <div class="row stats-row">
    <div class="col-12">
      <div class="stats-icon"><i class="fa-solid fa-stopwatch"></i></div>
      <%= print_duration(@last_workout.session.get_duration) %>
    </div>
  </div>
  <div class="row stats-row">
    <div class="col-12">
      <div class="stats-icon">
        <i class="fa-solid fa-ruler-horizontal"></i>
      </div>
      <%= @last_workout.session.distance %>m
    </div>
  </div>
  <div class="row stats-row">
    <div class="col-12">
      <div class="stats-icon">
        <i class="fa-solid fa-heart-pulse"></i>
      </div>
      <%= @last_workout.session.heart_rate_average %>
    </div>
  </div>
  <div class="row stats-row">
    <div class="col-12">
      <div class="stats-icon">
        <i class="fa-solid fa-fire-flame-curved"></i>
      </div>
      <%= @last_workout.session.calories %>
    </div>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-4 bg-light rounded-3">
      <% for day in @days_last_week %>
        <%= day[:date] %>:
        <% if day[:workouts].length == 0 %>
          -
        <% else %>
          <%= raw(day[:workouts].map {|workout| "<a href=\"#{workout_details_path workout}\">#{workout.sport.get_name "en"}</a>" } * ", ") %>
        <% end %>
        <br/>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="h-100 p-4 bg-light rounded-3">
      TODO current month
    </div>
  </div>
</div>
