<h1>Calendar</h1>

<%= javascript_pack_tag 'calendar' %>

<a href="<%= workout_list_path 2021,10 %>">10/2021</a><br/>
<a href="<%= workout_list_path 2021,11 %>">11/2021</a><br/>
<a href="<%= workout_list_path 2021,12 %>">12/2021</a><br/>
<a href="<%= workout_list_path 2022,1 %>">01/2022</a><br/>
<a href="<%= workout_list_path 2022,2 %>">02/2022</a><br/>
<a href="<%= workout_list_path 2022,3 %>">03/2022</a>

