<% if @sport %>
  <h1>Workout details</h1>

  <p><%= @sport.translation.map { |t| t.text.text if t.id.language == 'en' }.compact.join('/') %></p>
  <p><%= print_time @workout.session.start %></p>
  <p><%= print_time @workout.session.end %></p>
  <p><%= @workout.session.end - @workout.session.start %></p>
  <p>calories <%= @workout.session.calories %></p>

  <h2>Heart rate</h2>
  <p>
    &Oslash; <%= @workout.session.heart_rate_average %>;
    max <%= @workout.session.heart_rate_maximum %>
  </p>
  <canvas id="heart_rate_chart" width="800" height="300"></canvas>

  <h2>Pace</h2>
  <% if @exercise_stats.speed %>
    <p>
      &Oslash; <%= print_pace @exercise_stats.speed.average %> km/h;
      max <%= print_pace @exercise_stats.speed.maximum %> km/h
    </p>
  <% end %>
  <canvas id="pace_chart" width="800" height="300"></canvas>

  <h2>Distance</h2>
  <p>total <%= "%.1f" % @workout.session.distance %>m</p>
  <canvas id="distance_chart" width="800" height="300"></canvas>
  <div id="map" style="width: 600px; height: 600px;"></div>

  <%= javascript_pack_tag "workout" %>

  <script type="text/javascript">
    var chartData = <%= @chart_data.to_json.html_safe %>;
    var gpsTrackPositions = <%= @gps_track_positions.to_json.html_safe %>;

    const labels = [];
    const heartRateData = [];
    const paceData = [];
    const distanceData = [];
    for (const data of chartData) {
      labels.push(data.time);
      heartRateData.push(data.heart_rate);
      paceData.push(data.pace);
      distanceData.push(data.distance);
    }

    drawChart('heart_rate_chart', 'Heart rate', labels, heartRateData, 'red');
    drawChart('pace_chart', 'Distance', labels, paceData, 'green');
    drawChart('distance_chart', 'Distance', labels, distanceData, 'blue');

    if (gpsTrackPositions.length > 0) {
          addMap(
            gpsTrackPositions,
            '<%= image_path "marker-icon.png" %>',
            '<%= image_path "marker-shadow.png" %>'
          );
        }
  </script>
<% else %>
  <p>No exercise found</p>
<% end %>

