<h1>Workouts <%= @first_date_of_month.strftime('%m/%Y') %></h1>

<a href="<%= workout_list_path(@previous_month_date.year, @previous_month_date.month) %>">previous</a><br/>
<a href="<%= workout_list_path(@next_month_date.year, @next_month_date.month) %>">next</a><br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="w-auto text-nowrap" scope="col">Sport</th>
      <th class="w-auto text-nowrap" scope="col">From</th>
      <th class="w-auto text-nowrap" scope="col">To</th>
      <th class="w-auto text-nowrap" scope="col">Duration</th>
      <th class="w-auto text-nowrap" scope="col">Calories</th>
      <th class="w-auto text-nowrap" scope="col">Heart rate &Oslash; / max</th>
      <th class="w-100">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @workouts.exists? %>
      <% @workouts.each do |workout| %>
        <tr>
          <td class="text-nowrap"><%= workout.sport.get_name 'en' %></td>
          <td class="text-nowrap"><%= print_time workout.session.start %></td>
          <td class="text-nowrap"><%= print_time workout.session.end %></td>
          <td class="text-nowrap"><%= print_duration (workout.session.end - workout.session.start) %></td>
          <td class="text-nowrap"><%= workout.session.calories %></td>
          <td class="text-nowrap"><%= workout.session.heart_rate_average %> / <%= workout.session.heart_rate_maximum %></td>
          <td class="text-end"><a href="<%= workout_details_path workout.id %>">details</a></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7">No workouts found</td>
      </tr>
    <% end %>
  </tbody>
</table>

